<!--<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">-->
    <!--<div class="filter"></div>-->
    <!--<div class="container">-->
        <!--<div class="motto text-center">-->
            <!--<h1>Example page</h1>-->
            <!--<h3>Start designing your landing page here.</h3>-->
            <!--<br />-->
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>-->
            <!--<button type="button" class="btn btn-outline-neutral btn-round">Download</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="page-header section-dark" style="background-image: url('assets/img/FBAIS/daniel-olahh.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/FBAIS/logo.png" alt="">
                </div>
                <h1 class="presentation-title" style="font-size: 400%;">Welcome To <br>Fireblaze AI School</h1>
                <!--<div class="fog-low">-->
                <!--&lt;!&ndash;<img src="assets/img/fog-low.png" alt="">&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="fog-low right">-->
                <!--&lt;!&ndash;<img src="assets/img/fog-low.png" alt="">&ndash;&gt;-->
                <!--</div>-->
            </div>

            <h2 class="presentation-subtitle text-center">We offer Exceptional Courses with 100% job assistance</h2>
        </div>
    </div>
    <!--<div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>-->
    <!--<div class="moving-clouds"></div>-->

    <!--<h6 class=" category-absolute ml-auto mr-auto">Designed and coded by-->
    <!--&lt;!&ndash; <h6 class="category category-absolute">Designed and coded by &ndash;&gt;-->

    <!--<a href="https://www.creative-tim.com" target="_blank">-->
    <!--<img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">-->
    <!--</a>-->
    <!--</h6>-->
</div>
<div class="main">
    <div class="container">
        <section *ngFor="let data of testimonial;let ind =index">
            <div class="container">
                <div class="row align-items-center">
                    <div [ngClass]="ind%2===0?'col-lg-6 order-lg-2':'col-lg-6'">
                        <!--column {{ind%2!==0}} placed for testing purpose -Ruchitesh-->
                        <div class="p-5">
                            <img class="img-fluid rounded-circle profileimg" src={{data.img}} alt="">
                        </div>
                    </div>
                    <div [ngClass]="ind%2===0?'col-lg-6 order-lg-1':'col-lg-6'">
                        <div class="p-5" style="margin: 0">
                            <h3><span style="color: #EC7157;font-weight: bold">{{data.title.name}}</span></h3>
                            <p>{{data.title.d}}</p>
                            <p>{{data.title.u}}</p>
                            <br>
                            <p>{{data.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
