<div class="container">
<div id="menuoptions">
  <span id="closebutton">X</span>
  <div id="StartChat" class="StartChat" tabindex="1">
    <img src="https://philchallinor.co.uk/images/articles/chatbot.png" id="PersonIcon">

    <span id="Instruction">

				Would you like some help?
			</span>

  </div>

  <div id="chatwindow"></div>
  <div id="usertextboxmessage">
				<span>
					<input id="UserInputBox" type="text">
					<img src="https://philchallinor.co.uk/images/articles/send.png" class="message">
				</span>
  </div>
</div>
</div>
