
<div class="container">
    <p class="font-weight-bold" style="font-size: 2rem;">Introduction</p>
    <p style="padding: 0!important;text-align: justify">We are a data science & machine learning training
    company, We always strive to provide high quality industry level training training & We are bunch of
    passion driven instructors who believe in practical teaching.</p>

    <button type="button" class="btn btn-outline-success btn-round text-left" style="margin-top: 2%;margin-bottom: 1%">Get started
    </button>

    <div class="row" style="padding: 0;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="font-weight-bold" style="font-size: 1.5rem;margin-bottom: 3%;">News Update</p>
            <app-news-update></app-news-update>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="font-weight-bold" style="font-size: 1.5rem;margin-bottom: 3%;">Fireblaze AI School at glance</p>
            <app-youtube></app-youtube>
        </div>
    </div>
</div>
