<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="/">Home</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/courses" class="nav-link" >Courses</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#" class="nav-link" >Gallery</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/testimonials" class="nav-link" >Testimonials</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#" class="nav-link" >Placements</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#" class="nav-link" >Contact</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="/signup" class="nav-link" >Register</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<button (click)="scroll(target)" style="font-size: 36px;margin: 3%;outline: none" class="fixedbutton bg-transparent border-0">
    <img style="max-height: 50px;display: block;" src="../../assets/img/FBAIS/goup.png" alt="">
</button>
<div style="visibility:hidden"#target></div>