<!--<section class="testimonials text-center bg-light">-->
  <!--<div class="container">-->
    <!--<h2 class="mb-5">What people are saying...</h2>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-4">-->
        <!--<div class="testimonial-item mx-auto mb-5 mb-lg-0">-->
          <!--<img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">-->
          <!--<h5>Margaret E.</h5>-->
          <!--<p class="font-weight-light mb-0">"I joined the data analytics course with FBTS to prepare myself further for my upcoming masters course , although first I was skeptic after meeting Aniruddha sir who was very young , my skepticism was removed very early when the course began , the way through which the course is taught at kasa is very very practical and simple , all my doubts from basic to advanced very cleared very thoroughly , what appealed the most to me was the practical and real life examples taught in the course which made my concepts very clear and firm , I can surely say that joining kasa the only place which teaches data science in Nagpur will be a great investment for anyone who wishes to enter the realms of big data."</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<div class="testimonial-item mx-auto mb-5 mb-lg-0">-->
          <!--<img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">-->
          <!--<h5>Fred S.</h5>-->
          <!--<p class="font-weight-light mb-0" style="text-align: justify">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<div class="testimonial-item mx-auto mb-5 mb-lg-0">-->
          <!--<img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">-->
          <!--<h5>Sarah	W.</h5>-->
          <!--<p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--<header class="masthead text-center text-white">-->
  <!--<div class="masthead-content">-->
    <!--<div class="container">-->
      <!--<h1 class="masthead-heading mb-0">One Page Wonder</h1>-->
      <!--<h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>-->
      <!--<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="bg-circle-1 bg-circle"></div>-->
  <!--<div class="bg-circle-2 bg-circle"></div>-->
  <!--<div class="bg-circle-3 bg-circle"></div>-->
  <!--<div class="bg-circle-4 bg-circle"></div>-->
<!--</header>-->
<div class="container">
  <p class="font-weight-bold" style="margin-left: 1%;font-size: 2rem;text-align: center">Look what our alumni want to say</p>
<section *ngFor="let data of testimonial;let ind =index">
  <div class="container">
    <div class="row align-items-center">
      <div [ngClass]="ind%2===0?'col-lg-6 order-lg-2':'col-lg-6'">
        <!--column {{ind%2!==0}} placed for testing purpose -Ruchitesh-->
        <div class="p-5">
          <img class="img-fluid rounded-circle" src={{data.img}} alt="">
        </div>
      </div>
      <div [ngClass]="ind%2===0?'col-lg-6 order-lg-1':'col-lg-6'">
        <div class="p-3">
          <h3><span style="color: #EC7157;font-weight: bold"> {{data.title.name}}</span></h3>
          <p>{{data.title.d}}</p>
            <p>{{data.title.u}}</p>
            <br>
            <p>{{data.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="text-center" style="margin-bottom: 2%">
  <a href="/landing" class="btn btn-danger btn-round">Read More</a>
  </div>
</div>
<!--<section>-->
  <!--<div class="container">-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col-lg-6">-->
        <!--<div class="p-5">-->
          <!--<img class="img-fluid rounded-circle" src="img/02.jpg" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6">-->
        <!--<div class="p-5">-->
          <!--<h2 class="display-4">We salute you!</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--<section>-->
  <!--<div class="container">-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col-lg-6 order-lg-2">-->
        <!--<div class="p-5">-->
          <!--<img class="img-fluid rounded-circle" src="img/03.jpg" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6 order-lg-1">-->
        <!--<div class="p-5">-->
          <!--<h2 class="display-4">Let there be rock!</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->