<div class="wrapper">
    <!--<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">-->
    <div class="page-header section-dark" style="background-image: url('assets/img/FBAIS/homebackground.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/FBAIS/logo.png" alt="">
                    </div>
                    <h1 class="presentation-title" style="font-size: 400%;">Welcome To <br>Fireblaze AI School</h1>

                </div>

                <h2 class="presentation-subtitle text-center">We offer Exceptional Courses with 100% job assistance</h2>
            </div>
        </div>

    </div>
    <div class="main">
        <app-components></app-components>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <h4 class="title">About Us</h4>
                                <p class="description" style="text-align: justify">
                                    We are passionate & we help enhance your talent.
                                    Our team is here to help you stand out and reach great heights. A timeline in the making!We provide trainings
                                    such as :<br>
                                </p>
                                <ul class="description" style="list-style: none;">
                                    <li>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        Python Core & Advance
                                    </li>
                                    <li>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        Data Analytics with Python
                                    </li>
                                    <li>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        Machine learning
                                    </li>
                                    <li>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        Data Science with Python
                                    </li>
                                    <li>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        Data Science With R
                                    </li>
                                    <li>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        Deep Learning & A.I
                                    </li>
                                </ul>
                                <a href="#" class="btn-footer"> More Info </a>
                                <a href="#" class="btn-footer"> FAQ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 text-left">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 px-4">
                        <h4 class="title">Reach Us</h4>
                        <p class="description">
                            17B,<br> Red House,<br> beside Manjusha Convent,<br>
                            Sneha Nagar,<br> Nagpur, 440015.<br><br>Email : fireblazeaischool@gmail.com
                        </p><br/>
                        <a [routerLink]="['']" class="btn btn-danger btn-round" style="margin: 1%">Call Us</a>
                            </div>

                    <div class="col-lg-7 col-md-8 my-2">
                        <!--<div class="icons-container">-->

                            <app-map></app-map>
                    </div>
                    </div>

                    </div>
                </div>
            </div>
            <!--<div class="container">-->
                <!--<div class="row-fluid">-->
                    <!--<div class="span8">-->
                        <!--<div class="wrapper">-->
                        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.0578425604044!2d79.0638200144087!3d21.110259990368075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bf8312d77cbb%3A0xae0371ba853ac531!2sFireblaze+AI+School!5e0!3m2!1sen!2sin!4v1544696865259" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="span4">-->
                        <!--<h2>Snail mail</h2>-->
                        <!--<address>-->
                            <!--<strong>Hythe Window Cleaning</strong><br>-->
                            <!--15 Springfield Way<br>-->
                            <!--Hythe<br>-->
                            <!--Kent<br>-->
                            <!--United Kingdon<br>-->
                            <!--CT21 5SH<br>-->
                            <!--<abbr title="Phone">P:</abbr> 01234 567 890-->
                        <!--</address>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="section section-image section-login"
             style="background-image: url('assets/img/FBAIS/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <div class="social-line text-center">
                                <a href="#" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <form class="register-form">
                                <label>Email</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>

                                <label>Password</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register
                                Page</a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row justify-content-md-center sharing-area text-center">
                            <div class="text-center col-md-12 col-lg-8" style="color: white">
                                <h3>Thank you for supporting us!</h3>
                            </div>
                            <div class="text-center col-md-12 col-lg-8">
                                <a href="#" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip"
                                   title="Tweet!">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a href="#" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip"
                                   title="Share!">
                                    <i class="fa fa-google-plus"></i> Google
                                </a>
                                <a href="#" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip"
                                   title="Share!">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                                <a href="#" title="LinkedIn" class="btn btn-linkedin btn-lg btn-round"><i
                                        class="fa fa-linkedin fa-fw"></i> LinkedIn</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<h2 class="title" style="margin-bottom: 0;padding: 0;">About US</h2>-->

        <!--<img src="assets/img/FBAIS/logo.png" style="display: block;width: 40%;margin: 0 auto;padding: 0;max-width:100px;max-height:100px">-->

        <!--<p class="description" style="text-align: justify">-->
            <!--We are passionate & we help enhance your talent.-->
            <!--Our team is here to help you stand out and reach great heights. A timeline in the making!-->
        <!--</p><br/>-->
        <!--<ul style="list-style: none;color: white">-->
            <!--<li>-->
                <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                <!--Python Core & Advance-->
            <!--</li>-->
            <!--<li>-->
                <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                <!--Data Analytics with Python-->
            <!--</li>-->
            <!--<li>-->
                <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                <!--Machine learning-->
            <!--</li>-->
            <!--<li>-->
                <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                <!--Data Science with Python-->
            <!--</li>-->
            <!--<li>-->
                <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                <!--Data Science With R-->
            <!--</li>-->
            <!--<li>-->
                <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
                <!--Deep Learning & A.I-->
            <!--</li>-->
        <!--</ul>-->

